<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.12.0.min.js"></script>
    <script src="/javascripts/tools.js"></script>
  </head>
  <body>
    {{#passport}}
    <a href="/login">login</a>
    <a href="/makers/josh">josh</a>

    <a href="/logout">logout</a>
   {{/passport}}
    {{{body}}}
  </body>
</html>
