<h1>Add Maker</h1>
<p>添加新maker！</p>
<form method="post" action="/makers">
<ul>
  <li>
    会员号:<input name="memberid" value=""/><i>会员号</i>
  </li>
  <li>
    登录名:<input name="login" value=""/><i>电子邮件</i>
  </li>
  <li>
    密码:<input name="password" value="" type="password"/>
  </li>
  <li>
    密码确认:<input name="password-repeat" value="" type="password"/>
  </li>
  <li>
    名字:<input name="name" value=""/>
  </li>
  <li>
    性别:<select name="sex">
      <option value="男">男</option>
      <option value="女">女</option>
    </select>
  </li>
  <li>
    证件号(学号或者身份证号):<input name="idcard" value=""/>
  </li>

  <li>
    手机号码:<input name="mobile" value=""/>
  </li>

  <li>
    qq号码:<input name="qq" value=""/>
  </li>

  <li>
    专业领域:<input name="profield" value=""/>
  </li>
  <li>
    rfid:<input name="rfid" value=""/>
  </li>
  <li>
    简介:<textarea name="about" ></textarea>
  </li>
</ul>
<button>提交</button>
</form>
